@import "rose-pine-moon.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
    color: @text;
    padding: 5px 10px;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces,
#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-power,
#custom-updates { 
    opacity: 1;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
}

#workspaces,
#window,
#clock { 
    background: @surface;
    color: @text;
}

#clock { 
    padding: 0 10px;
    margin: 0 3px;
} 

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces {
    padding: 0px 2px;
    border-radius: 10px;
    border: 0px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 2px;
    border-radius: 10px;
    border: 0px;
    color: @text;
    background: @pine;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: @foam;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    background: @iris;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-power,
#custom-updates {
    color: @base;
    padding: 0 10px;
    margin: 0 3px;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @base;
    }
}

#battery.charging, #battery.plugged, #battery.good {
    background: @pine;
}

#battery.okay:not(.charging) {
    background: @gold;
}

#battery.warning:not(.charging) {
    background: @gold;
}

#battery.critical:not(.charging) {
    background-color: @love;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu,
#memory {
    background: @rose;
}

#disk,
#temperature {
    background: @rose;
}

#network {
    background: @gold;
}

#bluetooth {
    background: @gold;
}

#pulseaudio {
    background: @gold;
}

#custom-power {
    background: @love;
}

#custom-updates {
    background: @pine;
}

