@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces,
#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-power,
#custom-updates { 
    opacity: 1;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

#workspaces,
#window,
#clock { 
    background: @base;
    color: @text;
}

#custom-power,
#network,
#bluetooth,
#pulseaudio,
#custom-updates,
#temperature,
#disk,
#memory,
#cpu {
    color: @crust
}

#custom-power {
    background: @red;
}

#network {
    background: @teal;
}

#bluetooth {
    background: @blue;
}

#pulseaudio {
    background: @lavender;
}

#custom-updates {
    background: @mauve;
}

#temperature,
#disk {
    background: @peach;
}

#memory,
#cpu {
    background: @yellow;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-power,
#custom-updates { 
    padding: 0 10px;
    margin: 0 2px;
} 

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces {
    padding: 0px 2px;
    border-radius: 15px;
    border: 0px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 2px;
    border-radius: 15px;
    border: 0px;
    color: @text;
    background: @maroon;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: @peach;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    background: @yellow;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @crust;
    }
}

#battery.charging, #battery.plugged, #battery.good {
    background: @green;
    color: @crust;
}

#battery.okay:not(.charging) {
    background: @yellow;
    color: @crust;
}

#battery.warning:not(.charging) {
    background: @peach;
    color: @crust;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @crust;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

